In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
print(tf.__version__)
Data=pd.read_csv('Admission_Predict.csv')
Data

2026-01-23 10:18:41.686531: I external/local_xla/xla/tsl/cuda/cudart_stub.cc:31] Could not find cuda drivers on your machine, GPU will not be used.
2026-01-23 10:18:42.802137: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2026-01-23 10:18:54.145099: I external/local_xla/xla/tsl/cuda/cudart_stub.cc:31] Could not find cuda drivers on your machine, GPU will not be used.

2.20.0

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
398,399,312,103,3,3.5,4.0,8.78,0,0.67
399,400,333,117,4,5.0,4.0,9.66,1,0.95

In [ ]:
#Getting the Shape of the Dataset
Data.shape

(400, 9)

In [4]:
#Getting the Information about the Columns Datatype and Checking the NULL Values
Data.info()

<class 'pandas.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         400 non-null    int64
 1   GRE Score          400 non-null    int64
 2   TOEFL Score        400 non-null    int64
 3   University Rating  400 non-null    int64
 4   SOP                400 non-null    float64
 5   LOR                400 non-null    float64
 6   CGPA               400 non-null    float64
 7   Research           400 non-null    int64
 8   Chance of Admit    400 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 28.3 KB

In [5]:
#Getting the Columns names
Data.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='str')

In [ ]:
Data.isnull().sum()
Data.describe()

In [ ]:
#checking the Duplicates Rows
Data.duplicated().sum()

In [ ]:
#Printing the First % Rows From the Dataset
Data.head()

In [6]:
#Printing the Last Five rows From the Dataset
Data.tail()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
398,399,312,103,3,3.5,4.0,8.78,0,0.67
399,400,333,117,4,5.0,4.0,9.66,1,0.95

In [7]:
Data.drop(columns=['Serial No.'],inplace=True)

In [8]:
Data.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65

In [9]:
#Here We Are Going to Seprate the Dependent Variable ANd Independent Variable in the Dataset
X=Data.iloc[:,0:-1]
y=Data.iloc[:,-1]

In [10]:
#Getting the Indepent Variable Values
X

     GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  Research
0          337          118                  4  4.5   4.5  9.65         1
1          324          107                  4  4.0   4.5  8.87         1
2          316          104                  3  3.0   3.5  8.00         1
3          322          110                  3  3.5   2.5  8.67         1
4          314          103                  2  2.0   3.0  8.21         0
..         ...          ...                ...  ...   ...   ...       ...
395        324          110                  3  3.5   3.5  9.04         1
396        325          107                  3  3.0   3.5  9.11         1
397        330          116                  4  5.0   4.5  9.45         1
398        312          103                  3  3.5   4.0  8.78         0
399        333          117                  4  5.0   4.0  9.66         1

[400 rows x 7 columns]

In [ ]:
y

In [ ]:
from sklearn.model_selection import train_test_split
X_Train,X_Test,y_Train,y_Test=train_test_split(X,y,random_state=42,test_size=0.2)
X_Train.shape
X_Test.shape
y_Train.shape

In [ ]:
from sklearn.preprocessing import MinMaxScaler
Scaler=MinMaxScaler()
X_Train_Scaled=Scaler.fit_transform(X_Train)
X_Test_Scaled=Scaler.transform(X_Test)

In [ ]:
import tensorflow
from tensorflow import keras
from keras import Sequential
from keras.layers import Dense

In [ ]:
Model=Sequential()
Model.add(Dense(7,activation='relu',input_dim=7))
Model.add(Dense(7,activation='relu'))
Model.add(Dense(1,activation='linear'))

In [ ]:
Model.summary()

In [ ]:
Model.compile(loss='mean_squared_error',optimizer='Adam')

In [ ]:
History=Model.fit(X_Train_Scaled,y_Train,epochs=60,validation_split=0.2)

In [ ]:
y_preds=Model.predict(X_Test_Scaled)

In [ ]:
from sklearn.metrics import r2_score
r2_score(y_preds,y_Test)

In [ ]:
import matplotlib.pyplot as plt
plt.plot(History.history['loss'])
plt.plot(History.history['val_loss'])